version: '3.8'

services:
  db:
    image: postgis/postgis:16-3.4-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: offerify_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5

  typesense:
    image: typesense/typesense:0.25.2
    ports:
      - '8108:8108'
    environment:
      TYPESENSE_DATA_DIR: /data
      TYPESENSE_API_KEY: xyz_api_key
    volumes:
      - typesense_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8108/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:
  typesense_data:
